:root {
  --color-background: #202020;
  --color-text: #bababa;
  --color-accent: #626ed9;
}

html,
body {
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
}

* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

.border {
  border: 3px solid #373737;
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

button {
  cursor: pointer;
}

#errorText {
  padding-top: 15px;
  padding-bottom: 30px;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

label {
  padding-left: 10px;
  margin: 20px;
}

#inputBox {
  margin: 10px 20px 20px 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 50px;
}

#todo-input {
  background: none;
  color: var(--color-text);
  outline: none;
  width: 20rem;
  padding: 10px;
}

#add-todo-button {
  width: 5rem;
  background-color: var(--color-accent);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
}

.task {
  min-width: 20rem;
  padding: 10px;
  margin: 20px;
  font-size: 1rem;
  gap: 15px;
}

.tasktxt {
  flex: 1;
  word-break: break-all;
  font-size: 1rem;
  text-align: left;
}

.actionBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.doneLabel {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

input[type="checkbox"] {
  accent-color: var(--color-accent);
  width: 1rem;
  height: 1rem;
}

.done {
  text-decoration: line-through;
  color: #bababa63;
}

.remove {
  background-color: #c64444;
  font-size: 1rem;
}

#delete-all {
  width: 5rem;
  align-self: center;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  background-color: #6e6e6e;
}

#todo-date-input {
  width: 10rem;
  background: none;
  outline: none;
  color: var(--color-text);
}

.taskdate {
  margin: 0;
  font-size: 1rem;
}
