:root {
  --color-background: #202020;
  --color-text: #bababa;
  --color-gray: #6e6e6e;
  --color-accent: #626ed9;
  --color-due-overdue: #c64444;
  --color-due-today: rgb(204, 133, 0);
  --color-due-soon: rgba(233, 217, 0, 1);
  --color-due-later: rgb(65, 204, 0);
}

.taskdate--overdue {
  background-color: var(--color-due-overdue);
}
.taskdate--today {
  background-color: var(--color-due-today);
}
.taskdate--soon {
  background-color: var(--color-due-soon);
}
.taskdate--later {
  background-color: var(--color-due-later);
}

html,
body {
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
}

* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

.border {
  border: 3px solid #373737;
  border-radius: 10px;
}

#interfacesBtn {
  display: flex;
  gap: 20px;
}

#sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

button {
  cursor: pointer;
}

#errorText {
  padding-top: 15px;
  padding-bottom: 30px;
}

#todo-interface,
#category-interface {
  background-color: var(--color-gray);
  margin-bottom: 50px;
  transition: all ease 0.5s;
}

.loadBtnStyle {
  margin-top: 200px;
  width: 30rem;
  height: 20rem;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 2rem;
}

.normalInterfaceSize {
  width: 8rem;
}

main,
#category-section {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

label {
  padding-left: 10px;
  margin: 20px;
}

#inputBox,
#category-input-box,
#category-input-box-2 {
  margin: 10px 20px 20px 20px;
  display: flex;
  gap: 10px;
  padding-bottom: 50px;
}

#todo-input,
#category-name-input,
#category-name-input-2 {
  background: none;
  color: var(--color-text);
  outline: none;
  width: 20rem;
  padding: 10px;
}

#add-todo-button,
#add-category-button,
#update-category-button {
  width: 5rem;
  background-color: var(--color-accent);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
}

.taskAndCategory {
  min-width: 20rem;
  padding: 10px;
  margin: 20px;
  font-size: 1rem;
  gap: 15px;
}

.tasktxt {
  flex: 1;
  word-break: break-all;
  font-size: 1rem;
  text-align: left;
}

.actionBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.doneLabel {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

input[type="checkbox"] {
  accent-color: var(--color-accent);
  width: 1rem;
  height: 1rem;
}

.done {
  text-decoration: line-through;
  color: #bababa63;
}

.remove {
  background-color: var(--color-due-overdue);
}

.delete-all {
  width: 5rem;
  align-self: center;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  background-color: var(--color-gray);
}

#todo-date-input,
#category-color-input,
#category-color-input-2 {
  width: 10rem;
  height: 3rem;
  background: none;
  outline: none;
  color: var(--color-text);
}

.taskdate,
.taskcategory {
  margin: 0;
  font-size: 1rem;
  border-radius: 5px;
}

.due-date-color {
  color: var(--color-background);
  padding: 2px;
}

#overdue-message {
  font-size: 2rem;
  background-color: var(--color-due-overdue);
  color: white;
  padding: 30px;
  border-radius: 20px;
}

.color-of-category {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}

.smallBtn {
  font-size: 1rem;
}

.edit {
  width: 107px;
  background-color: var(--color-gray);
}

#edit-category-popup {
  background-color: var(--color-background);
  margin-top: 30vh;
  height: 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

#overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 9;
}
